body {
    width: 100vw;
    height: 100%;
    margin: 0px;
    background: #C5E4E7;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main {
    background: #FFFFFF;
    box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
    border-radius: 25px 25px 0px 0px;
    margin-top: 41px;
    padding: 32px 32.5px 32px 32px;
}
.logo {
    padding: 50px 144px 0px 144px;
}
.bill {
    font-size: 16px;
    line-height: 24px;
    color: #5E7A7D;
    letter-spacing: 3px;
}
.button1 {
    border: none;
    width: 300px;
    background: #F3F9FA;
    border-radius: 5px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: right;
    color: #00474B;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px;
}
.select {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #5E7A7D;
    margin-top: 32px;
}
.inputcontainer {
    margin-top: 16px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 16px
}
.buttonall {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    width: 146.6311798095703px;
    border-radius: 5px;
    background: #00474B;
    border-radius: 5px;
    border: none;
    padding: 8px;
}

.active{
    background-color: #9FE8DF;
}
.inputdollar {
    display: flex;
    align-items: center;
    position: relative;
}
.iconperson {
    position: absolute;
    padding: 17px;
}
.button15 {
    width: 146.6311798095703px;
    background: #26C2AE;
    border-radius: 5px;
    text-align: center;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #00474B;
    border: none;
}
.custom {
    background: #F3F9FA;
    border-radius: 5px;
    width: 143px;
    border-radius: 5px;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #547878;
    border: none;
}
.people {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #5E7A7D;
    margin-top: 36px;
}
.man {
    display: flex;
    align-items: center;
    position: relative;
}
.mansvg {
    margin-left: 17px;
    position: absolute;
}
.quantity {
    background: #F3F9FA;
    border-radius: 5px;
    width: 284px;
    padding: 8px 14px 7px 16px;
    margin-top: 6px;
    border: none;
    text-align: right;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #00474B;
}
.amount {
    width: 312px;
    border-radius: 15px;
    background: #00474B;
    margin-top: 32px;
}
.tipamount {
    display: flex;
    justify-content: space-between;
    padding: 39px 22px 0px 22px;
}
.tip {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.person {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 19px;
    color: #7F9D9F;
}
.dollar {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 47px;
    text-align: right;
    letter-spacing: -0.666667px;
    color: #26C2AE;
    background: #00474B;
    border: none;
}
.dollartwo {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 47px;
    text-align: right;
    letter-spacing: -0.666667px;
    color: #26C2AE;
    background: #00474B;
    border: none;

}
.amount2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 22px 0px 22px;
}
.buttonres {
    background: #26C2AE;
    border-radius: 5px;
    width: 281px;
    border-radius: 5px;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #00474B;
    margin: 30px 22px 24px 15px;
    border: none;
}


@media only screen and (min-width: 1440px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo {
        padding: 163px 677px 42px 677px;
    }

    .main {
        display: flex;
        justify-content: center;
        margin-top: 0px;
    }

    .button1 {
        width: 415px;
        padding: 10px;
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        text-align: right;
        color: #00474B;
        mix-blend-mode: normal;

    }

    .buttonall {
        padding: 10px;
        width: 131px;
    }

    .button15 {
        padding: 10px;
        width: 131px;
    }

    .custom {
        padding: 10px;
        width: 112px;
    }

    .inputdollar {
        display: flex;
        align-items: center;
        position: relative;

    }

    .iconperson {
        position: absolute;
        padding: 20px;
    }

    .amountbill {
        display: flex;
        align-items: center;
        gap: 48px;
    }

    .amount {
        width: 413px;
    }

    .dollar {
        font-size: 48px;
        line-height: 71px;
        letter-spacing: -1px;
        color: #26C2AE;
        background: #00474B;
        border: 0px;
    }

    .dollartwo {
        font-size: 48px;
        line-height: 71px;
        letter-spacing: -1px;
        color: #26C2AE;
        background: #00474B;
        border: 0px;
    }

    .buttonres {
        width: 333px;
        margin: 123px 40px 40px 40px;
        padding: 9px;
        background: #0D686D;

    }

    .inputcontainer {
        grid-template-columns: auto auto auto;
    }

    .quantity {
        width: 404px;
    }
}